[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
PyYAML = "*"
pandas = "*"
jupyter = "*"
missingno = "*"
mlflow = "*"
deap = "*"
update-checker = "*"
tqdm = "*"
stopit = "*"
xgboost = "*"
scikit-learn = "==0.24.2"
scikit-MDR = "*"
skrebate = "*"
TPOT = "*"
autoimpute = "*"
kaleido = "==0.2.1"
matplotlib-label-lines = "*"
drawSvg = "*"
miceforest = "*"
pycox = "*"
torchtuples = "*"
torch = "*"
humanize = "*"
pytz = "*"

[dev-packages]
mlflow = "*"

[requires]
python_version = "3.9"

[packages.pandas-profiling]
extras = [ "notebook",]
