[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
pandas = "*"
jupyter = "*"
missingno = "*"
mlflow = "*"
dtale = "*"
pandas-profiling = "*"
deap = "*"
update-checker = "*"
tqdm = "*"
stopit = "*"
xgboost = "*"
scikit-mdr = "*"
skrebate = "*"
tpot = "*"
autoimpute = "*"

[dev-packages]

[requires]
python_version = "3.9"
